/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

.font-titles {
    font-family: "Edu Tas Beginner", sans-serif;
}

.font-date {
    font-family:  "Sometype Mono", "monospace";
}

/* general */
main {
    min-height: 100vh;
    background-image: url(../img/cork.png);
}

:root {
    --my-gap : 20px;
    --gaps-number-sm:2;
    --col-number-sm: 2;
    --col-number-md: 3;
}

/* ----- utils */

.my-container{
    margin: 0 auto;
    max-width: 70vw;
}

/* */

.title-wrapper {
    background-image: url(../img/wall.png);
    background-size: contain;
    text-align: center;
    min-height: 15vh;
    margin-bottom: 30px;
}

.title-wrapper h1 {
    translate: 0 30%;
    font-weight: 800;
    font-size: 3rem;
}

.card-wrapper {
    gap: var(--my-gap);
    padding: 0 100px;
}

.my-card {
    background-color: whitesmoke;
    aspect-ratio: 10/13;
    box-shadow: 1px 2px 2px 0px;
    padding: 2px 10px;
}

.pin-wrapper {
    text-align: center;
    height: 10%;
}

.pin {
    height: 100%;
    translate: 0 -40%;
    position: relative;
    z-index: 2;
}

.foto-wrapper {
    background-color: blueviolet;
    translate: 0 -10%;
    aspect-ratio: 1;
}

.stats-wrapper {
    height: 15%;
    line-height: 0.6;
    font-size: 1.2rem;
}

.foto-title {
    font-weight: 600;
}


@media screen and (min-width: 768px) {
    .my-card {
        width: calc(100% / 2 - (var(--my-gap) * 1)/2);
    }

    .card-wrapper {
        padding: 0 175px;
    }
}

@media screen and (min-width: 992px) {
    .my-card {
        width: calc(100% / 3 - (var(--my-gap) * 2)/3);
    }

    .card-wrapper {
        padding: 0 200px;
    }
}

@media screen and (min-width: 1200px) {
    .card-wrapper {
        padding: 0 340px;
    }
}


/* imported */

/* @media screen and (min-width: 410px) {
    .card-wrapper {
        padding: 0 10%;
    }

    .my-card {
        width: calc(100% / var(--col-number-sm) - (var(--my-gap) / var(--col-number-sm)));
    }
}

@media screen and (min-width: 768px) {
    .card-wrapper {
        padding: 0 10%;
    }

    .my-card {
        width: calc(100% / var(--col-number-md) - (var(--my-gap) / var(--col-number-md) * var(--gaps-number-sm)));
    }
}

@media screen and (min-width: 992px) {
    .card-wrapper {
        padding: 0 20%;
    }
}

@media screen and (min-width: 1200px) {
    .card-wrapper {
        padding: 0 25%;
    }
} */
