/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

.font-titles {
    font-family: "Edu Tas Beginner", sans-serif;
}

.font-date {
    font-family:  "Sometype Mono", "monospace";
}

/* general */
main {
    min-height: 100vh;
    background-image: url(../img/cork.png);
}

:root {
    --my-gap: 20px;
}

/* ----- utils */

.my-container{
    margin: 0 auto;
    max-width: 70vw;
}

/* */

.title-wrapper {
    background-image: url(../img/wall.png);
    background-size: contain;
    text-align: center;
    min-height: 10vh;
    margin-bottom: 30px;
}

.title-wrapper h1 {
    translate: 0 25%;
    font-weight: 800;
}

.card-wrapper {
    gap: var(--my-gap);
    padding: 0 80px;
}

.my-card {
    background-color: whitesmoke;
    aspect-ratio: 10/12;
    box-shadow: 1px 2px 2px 0px;
    padding: 10px;
}

.pin-wrapper {
    text-align: center;
    height: 10%;
}

#pin {
    height: 100%;
    translate: 0 -50%;
    position: relative;
    z-index: 2;
}

.foto-wrapper {
    background-color: blueviolet;
    height: 78%;
    translate: 0 -10%;
}


@media screen and (min-width: 768px) {
    .my-card {
        width: calc(100% / 2 - (var(--my-gap) * 1)/2);
    }
}

@media screen and (min-width: 992px) {
    .my-card {
        width: calc(100% / 3 - (var(--my-gap) * 2)/3);
    }
}